

.header_v5 .navbar-light .navbar-nav .nav-link:hover,
.header_v5 .mainNavigation .ddohOpener:hover,
.header_v5 .mainNavigation .ddohOpener:hover > .nav-link,
.prtColAlt .icnWrap,
.nwpb_v5 .npbColumn h3 a:hover,
.nwpb_v5 .btnCr:hover,
.nwpb_v5 .npbcmWrap a:hover,
.upComEveBlock .ueScheduleList .icn,
.upComEveBlock h3 a:hover,
.expWidget h3 a:hover,
.ourPro_v5 .mayorQuote .wrap .name,
.meetCoun_v5 .mccColumn h3 a:hover,
.meetCoun_v5 .mccInfoList a:hover,
.ftAre_v5 .ftsrLinksList a:hover {
    color: #DF193A;
}

.header_v5 .hdSearchCollapse .btnClose,
.header_v5 .hdSearchOpener,
.header_v5 .dropdown-submenu:hover > .dropdown-item,
.header_v5 .hdDropdownList a:hover,
.header_v5 .hdSocialNetworks a:hover,
.header_v5 .pgNavOpener:before,
.header_v5 .pgNavOpener:after,
.prtColAlt:hover,
.nwpb_v5 .npbTimeTag,
.newPubSlider .slick-arrow:hover,
.counterftAsideBlock.couAsiBlock_v5,
.upComEveBlock .ueTimeTag .textDay,
.exoHigSlider .dotsList.dotsListii button:hover,
.exoHigSlider .dotsList.dotsListii li.slick-active button,
.meetCoun_v5 .mcssList .mcssLink:hover,
.ftAre_v5 .ftSocialNetworks a:hover,
.mayAnnBloAlt .btnPlayLink .icnPlay {
    background-color: #DF193A;
}

.header_v5 .navbar-light .pgNavOpener {
    border-color: #DF193A;
}

.newsSingleWrap .dropCap, .vssDropdownList li, .ui-widget.ui-slider.ui-slider-horizontal .ui-widget-header, .getDirColumn .ardBadge, .echColumnii .spanLinkGo, .causeSingle .ourCauseColumn[data-featured-tag]:before, #myTab .tablink:before, .widgetWrap.bgTheme, .progressBar .pbCountNumber, .progressBar .percentageProgBar .over, .opbTabset .nav-link.active, .opbTabset .nav-link:hover, .ourPromiseBlock .videoWrap .btnPlay, .ourPromiseBlock .btnPlayHolder:hover .btnPlay:before, .donationForm .customRadioBtnLabel .cuFakeLabel:after, .btnLinkShare:hover, .btnYouPlay, .postNavigatorNav .btnPrev:hover,
.postNavigatorNav .btnNext:hover, .scgTabList .nav-link:after, .scgTabList.nav-tabs .nav-link:after, .dtlhDress, .ifbFiltersList a:hover, .ifbFiltersList li.active a, .ueEveColumn__list .btnCustomLightOutline:before, .pagination .page-link:hover, .pagination .page-item.active .page-link, .gbfColumn:hover .icnWrap, .infigQuote, .egdColumn .icnWrap, .egdColumn:hover .btn, .mcssList .mcssLink:hover, .erLinksList.bgTheme, .npbTimeTag, .ccwIcn, .ueTimeTag .textDay, .btnPlayLink .icnPlay, .featuresAsideBlock:before, .fflColumn:hover .icnWrap, .hdDropdownList a:hover, .hdDropdownList > li.active > a, .dropdown-submenu.show > .dropdown-item, .dropdown-submenu:hover > .dropdown-item, .hdLangDropdown .dropdown-item:hover, .hdLangDropdown .dropdown-item.active, .ssArrowVii:hover, .progressTheme, .btn-outline-light:hover, .dotsList.dotsListii button:hover, .dotsList.dotsListii li.slick-active button, .btnTheme .btnText, .btnTheme.btnNoOver {
    background-color: #ff3514;
}

.nwssHolder .vssOpener.hover, .arddColumnSlider .slick-arrow:hover, .btnLinkShare:hover, .postNavigatorNav .btnPrev:hover,
.postNavigatorNav .btnNext:hover, .ueEveColumn__list .btnCustomLightOutline:before, .pagination .page-link:hover, .pagination .page-item.active .page-link, .dcsTabset .nav-link:before, .dcsTabset.nav-tabs .nav-link:before, .edupiInfosList .edupiilWrap:before, .timelineList > li:after, .egdColumn:hover .btn, .meetQuote, .navbar-light .pgNavOpener, .btn-outline-light:hover, .btnTheme:before, .btnTheme.btnNoOver:hover, .btnTheme.btnNoOver {
    border-color: #ff3514;
}

.newsSingleWrap .tagList a.active, .newsSingleWrap .icnTheme, .causeSingle .icnTheme, #myTab .tablink.active, #myTab .tablink:hover, .govServiceCol .icnWrap, .clientQuoteii:after, .callLink .icn, .callLink:hover, .sectionWrap .habTitle, .ourPromiseBlock .habTitle, .thanksForSupportingBlock .habTitle, .clientQuote q:before, .cartTable .quantity .quantity-button:hover, .quantity .quantity-button:hover, .sdbWDescription .ratingStarList li.active, .ratingStarList li.active a, .ratingStarList li.active, .ratingStarList li a:hover, .reviewSubmissionForm .req, .customCheckboxLabel .cuFakeLabel:after, .btnYouPlay:hover, .newsClassicColumn .icnTheme, .pnnPaginList li > a, .widgetTags a:hover, .widgetTags a.current,
.tagList a:hover,
.tagList a.current, .widgetUpcoming .icn, .uecTime .textLarge, .gbfColumn .icnWrap, .helpAsideBlock .habTitle, .adminCountsList .textLarge, .tlTimeTitle, .euTitle, .prtColumn .icnWrap, .widgetDepartsNav li a:hover,
.widgetFiltersNav li a:hover, .widgetDepartsNav li.active > a,
.widgetFiltersNav li.active > a, .drItemRow .btnDownload, .coDefaultList > li:before, .dcsColumn .icnWrap, .egdColumn:hover .icnWrap, .erLinksList > li > a:hover, .cfbFeatList .icnWrap, .fflColumn .icnWrap, .hdSearchOpener:hover, .mainNavigation .ddohOpener:hover > .nav-link, .mainNavigation.navbar-nav .nav-link:hover, .mainNavigation.navbar-nav .nav-link:focus, .mainNavigation.navbar-nav .nav-link:active, .mainNavigation.navbar-nav .nav-item.active .nav-link, .hdScheduleList .icn, .form-group .req, .btnLink, .btnTheme:before, .btnTheme.btnNoOver:hover {
    color: #ff3514;
}

.headervi .hdScheduleList .icn,
.headervi .hdScheduleList li a:not(.txtLnk):hover,
.headervi .hdAlterLinksList a:hover,
.headervi .navbar-light .navbar-nav .nav-link:hover,
.headervi .mainNavigation .ddohOpener:hover,
.headervi .mainNavigation .ddohOpener:hover > .nav-link,
.headervi .hdSearchOpener:hover,
.headervi .callLink:hover,
.supportWidgetSection .spwWrap,
.causeGridCol .cgColTitle a:hover,
.ftAreaWrap.bg-gDarkvi .ftsrLinksList a:hover,
.bg-gDarkvi .adrList .icn,
.newsTheme9 a:hover,
.cdDocAlt .cdTitle a:hover,
.cdDocAlt li .icn,
.testimonialSliderVii .clientQuoteii:after,
.listEvent h2 a:hover,
.featureEvent h2 a:hover,
.featureEvent .eventTime .icn,
.causeGridCol .mediaWrap > a:hover,
.adrList > li a:not(.txt):hover span {
    color: #f0c84c;
}

.supportWidgetSection .spwWrap,
.headervi .dropdown-submenu:hover > .dropdown-item,
.headervi .hdDropdownList a:hover,
.headervi .hdSocialNetworks a:hover,
.causeGridCol .pbCountNumber,
.causeGridCol .progressBar .percentageProgBar .over,
.newsTheme9 .npbTimeTag,
.dtpArticle:hover,
.dtpArticle:hover .icnWrap a:before,
.dropdown-submenu.show > .dropdown-item,
.headervi .hdRighterWrap .icn,
.varII .opbTabset .nav-link.active,
.varII .opbTabset .nav-link:hover,
.testimonialSliderVii .dotsList.dotsListii button:hover,
.testimonialSliderVii .dotsList.dotsListii li.slick-active button,
.listEvent .eventDate,
.featureEvent .eventDate,
.headervi .hdSearchForm .hdSearchOpener {
    background-color: #f0c84c;
}

.ftAreaWrap.bg-gDarkvi .ftsrLinksList a:hover:before {
    border-color: #f0c84c;
}

.headervi .navbar-light .navbar-nav .nav-link,
.gidWidget .h2vii {
    color: #111111;
}

.gidWidget .customRadioTabBtnLabel .customRadioInput:checked + .cuFakeLabel,
.gidWidget .customRadioTabBtnLabel .customRadioInput:hover + .cuFakeLabel,
.headervi .hdTopBar {
    background-color: #111111;
}